/* Make text bigger */
body {
    font-size: 21px;
    line-height: 2.2;
}

/* Dark mode */
body {
    background-color: #000;
    color: #fff;
}

a {
    color: #0af; /* make links visible */
}
/* Top-right navigation link */
a.top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

ul {
    margin-top: 0.3rem;
}
