/* Make text bigger */
body {
    font-size: 21px;
    line-height: 1.5;
}

/* Dark mode */
body {
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
    color: #0af; /* make links visible */
}
/* Top-right navigation link */
a.top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
